*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    background-color: skyblue;
}

.Main{    
    box-shadow: 2px 2px;
    border-radius: 20px;
    transform: translate(0px,20%);
    background-color: paleturquoise;
    border:3px solid lightblue;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: blue;
    text-shadow: 1px 1px 2px rgb(51, 44, 44);
}

.head img{
    margin-right: 200px;
    width: 20%;
    border-radius: 40%;

}

.line1{
    padding: 15px;
    margin-left:-5%;
    text-shadow: 1px 1px 1px;
    color: rgb(0, 89, 255);
}

.links{
    padding: 10px;
    display: flex;
}

.links a{
    text-decoration: none;
    color:darkblue;
    text-shadow: 1px 1px 1px;
    padding: 10px;
    margin: 3px;
    font-weight:500;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    margin-inline-end: 40px;
}

.links a:hover{
    color: rgb(7, 7, 241);
}